USE [master]
GO
/****** Object:  Database [GMR]    Script Date: 30/03/2022 14:08:33 ******/
CREATE DATABASE [GMR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GMR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GMR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GMR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GMR_log.ldf' , SIZE = 768KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GMR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GMR]
GO
/****** Object:  Table [dbo].[Intervention]    Script Date: 30/03/2022 14:08:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Intervention](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[ID_MAT] [int] NOT NULL,
	[Date] [nchar](10) NOT NULL,
	[Description] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Intervention] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materiel]    Script Date: 30/03/2022 14:08:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materiel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Client] [varchar](50) NOT NULL,
	[Ref] [varchar](50) NULL,
	[Marque] [varchar](50) NOT NULL,
	[Description] [varchar](500) NULL,
 CONSTRAINT [PK_Materiel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Intervention] ON 

INSERT [dbo].[Intervention] ([ID], [Nom], [ID_MAT], [Date], [Description]) VALUES (4, N'Interv1', 3, N'12-05-2021', N'NON')
INSERT [dbo].[Intervention] ([ID], [Nom], [ID_MAT], [Date], [Description]) VALUES (7, N'Int5', 6, N'05-07-2015', N'OUI')
INSERT [dbo].[Intervention] ([ID], [Nom], [ID_MAT], [Date], [Description]) VALUES (8, N'InterventionCool', 7, N'19-01-2019', N'BIEN')
SET IDENTITY_INSERT [dbo].[Intervention] OFF
GO
SET IDENTITY_INSERT [dbo].[Materiel] ON 

INSERT [dbo].[Materiel] ([ID], [Nom], [Client], [Ref], [Marque], [Description]) VALUES (3, N'Souris R12', N'Galeries Lafayettes', N'489654785fq', N'Logitech', N'elle a peur du chat')
INSERT [dbo].[Materiel] ([ID], [Nom], [Client], [Ref], [Marque], [Description]) VALUES (4, N'Clavier W95', N'Tefal', N'Cla74444', N'Logitech', NULL)
INSERT [dbo].[Materiel] ([ID], [Nom], [Client], [Ref], [Marque], [Description]) VALUES (6, N'UC14', N'Tefal', N'ghkl', N'Dell', NULL)
SET IDENTITY_INSERT [dbo].[Materiel] OFF
GO
/****** Object:  Index [IX_Intervention]    Script Date: 30/03/2022 14:08:33 ******/
CREATE NONCLUSTERED INDEX [IX_Intervention] ON [dbo].[Intervention]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Intervention]  WITH CHECK ADD  CONSTRAINT [FK_Intervention_Materiel] FOREIGN KEY([ID_MAT])
REFERENCES [dbo].[Materiel] ([ID])
GO
ALTER TABLE [dbo].[Intervention] CHECK CONSTRAINT [FK_Intervention_Materiel]
GO
USE [master]
GO
